.container {
  display: flex; 
  justify-content: center; 
  gap: 20px"

}
.header img {
  width: 50px;
  height: auto;

}
h1{
  text-align:center;
  font-size: 50px;
}
h2{
  text-align:center;
  font-size: 40px;
}

ul {
  display: flex; 
  justify-content: space-evenly; 
  font-size:30px;
}
.overview-text {
  width: 700px;
  margin-left: 40px;
}
.fig-container {
  display: flex; 
  justify-content: space-evenly; 
  gap: 20px"

}
figure img {
  height: 250px;
  aspect-ratio: 1.1;

}
footer {
  display: flex; 
  justify-content: center; 
}